/* Styles go here */

body {
    margin: 20px;
    font-family: verdana;
}

.page, .chart-wrapper, .chart {
    width: 800px;
    margin: 0 auto;
}

.page {
    position: relative;
    background: #DDECFF;
    overflow: hidden;

    opacity: 0;

    border-radius: 10px;
    border: 1px solid #ebf4ff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3)
}

.page-header {
    min-height: 120px;
}


.chart-background {
    background: #C0D7E7;

    border-radius: 50% 50% 0 0;

    width: 1000px;
    margin: 0 -100px;

    padding: 50px 0 0 0;
}

.chart-wrapper .title {
    font-size: 30px;
    font-weight: bolder;
    color: white;

    text-transform: uppercase;
    text-align: center;

    padding: 0 250px;

    text-shadow:
        0 0 1px rgba(0, 0, 0, 0.3),
        0 0 6px rgba(16, 117, 189, 0.4)
}

.chart {
    width: 800px;
    height: 400px;
    margin: 0 auto;
}

.tooltip {
    position: absolute;
    text-align: center;
    min-width: 60px;
    padding: 10px;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
}

.tooltip .title {
    font-size: 14px;
    font-weight: bold;
}

.page-footer {
    padding-bottom: 60px;
    text-align: center;
}

.lines {
    margin-bottom: 60px;
}

.line-1, .line-2 {
    border: none;
    border-top: 2px solid #C0D7E7;
}

.line-1 {
    margin: 10px 100px;
}

.line-2 {
    margin: 10px 200px;
}

.button {
    position: relative;
    margin: 10px;

    padding: 30px 100px;
    background: #5BCA85;

    border-radius: 8px;
    border-bottom: 4px solid #57A478;

    box-shadow:
        0 0 2px rgba(0, 0, 0, 0.4),
        inset 0 0 1px #57A478;

    color: white;
    font-weight: bolder;
    font-size: 1.2em;

    text-decoration: none;
}

.button:hover {
    background: #5ed48d;
}

.button:active {
    top: 4px;
    border-bottom: 0;
}
